<html>

<head>
    <meta charset="utf-8"/>
    <title>Login - Anagram Engine</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial">
</head>

<body>
<div style="margin: 15% auto;">
    <div class="header_login">
        Dropbox
    </div>
    <div class="content_login" style="text-align:center">
        <p>You are not logged in.<br> Please login first.</p>
        <br>
        <br>
        <a href="{{ url }}">
            <div class="button_element_login">
                Login
            </div>
        </a>
    </div>
</div>
</body>
</html>